@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 0deg 0% 0%;
    --secondary: 220deg 9% 46%;
    --background: 0deg 0% 100%;
    --accent-300: 230deg 94% 82%;
    --accent-400: 234deg 89% 74%;
    --accent-500: 239deg 84% 67%;
    --accent-600: 243deg 75% 59%;
  }

  :root[data-theme="dark"] {
    --primary: 0deg 0% 100%;
    --secondary: 217deg 32.6% 17.5%;
    --background: 0deg 0% 0%;
    --accent-300: 230deg 94% 82%;
    --accent-400: 234deg 89% 74%;
    --accent-500: 239deg 84% 67%;
    --accent-600: 243deg 75% 59%;
  }
}
